@import url(https://fonts.googleapis.com/css?family=Arvo:700);

header {
  margin-top: 30px;
  /* height: 150px; */
  margin-bottom: 40px;
  text-align: center;
}

body {
  background-color: #a3f5cc;
  
}

main {
  /* margin: auto; */
  /* display: inline-block; */
  margin-left: 50px;
  margin-right: 50px;
  background-color: #dddddd;
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px;

  /* width: 800px; */
  
}

h1 {
  font-family: Arvo;
  font-size: 80px;
  color: #BA68E2;
  /* text-shadow: 6px 6px 0px rgba(0,0,0,0.2); */
  text-shadow: 6px 6px 0px #cccccc;

}

h2 {
  font-family: sans-serif;
  font-size: 20px;
}

h3 {
  font-family: Arvo;
  font-style: italic;
  /* margin-left: 35px; */
  font-size: 18px;
}


.letter-square {
  text-align: center;
  margin: 3px;
  font-size: 55px;
  font-family: sans-serif;
  width: 60px;
  height: 60px;
  border-radius: 3px;
  background-color: #cccccc;
  box-shadow: 5px -5px 5px 0px #BA68E2;

}

.letter-square:focus {
  box-shadow: 5px -5px 5px 0px #e67300;
}

.letter-square::placeholder {
  font-style: italic;
}

.flexbox{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
   margin-bottom: 10px;
}

.row {
  flex-direction: row;
}


.arrow-right {
  background-color: #dddddd;
  opacity: 70%;
  margin: 5px;
  
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 30px 52.0px;
  border-color: transparent transparent transparent #b968e2;
  
 }

.arrow-left {
  background-color: #dddddd;
  opacity: 70%;
  margin: 5px;
  
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 52.0px 30px 0;
  border-color: transparent #b968e2 transparent transparent;
  
}

#letter-pool {
  background-color: #dddddd;
  font-family: sans-serif;
  font-size: 55px;
  width: 300px;
  margin-top: 10px
}

#letter-pool::placeholder {
  font-style: italic;
}

#results-container li {
  text-align: center;
  font-family: sans-serif;
  font-size: 28px;
  display: inline-block;
  padding: 1px;
  margin: 3px;
  font-family: sans-serif;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #a3f5cc;
}


.button {
  display: inline-block; 
  font-family: sans-serif;
  font-size: 40px;
  background-color: #9d28d7;
  border: 1px double black;
  border-radius: 8px;
  color: #dddddd;
  margin-right: 5px;
  padding: 5px;
}

@media only screen and (max-device-width: 736px) {
  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 25px;
  }


  #results-container li {
    font-size: 38px;
  }

} 